/* === Inserisci questo in index.css o App.css === */
:root {
  --brand-red: #A12B32;
  --brand-red-hover: #b40612;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}