.register-container {
  width: 100%;
  height: calc(80vh - 1px); /* same height offset as login */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}


.register-box {
  width: 380px;
  background: #4c6ef5;
  border: 1px solid #dbdbdb;
  padding: 32px;
  margin: 0 auto;
  text-align: center;
  border-radius: 9px;
}

.register-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin-bottom: 35px; /* a little smaller since we have more fields */
}

.register-form input {
  width: 90%;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  margin-bottom: 22px;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background: #3bc511;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.register-label {
  display: block;
  text-align: left;
  margin-bottom: 9px;
  margin-left: 20px;
  font-weight: 600;
}
