# Database Configuration
# Example of a local connection URL
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=participium_db

# Server Configuration
PORT=3001
NODE_ENV=development

# Email Configuration
# For Gmail, use an App Password, not your login password
EMAIL_USER=participium.service@gmail.com
EMAIL_PASS=frrefygbgiqhczek

# Telegram Bot Configuration
# Get the token from @BotFather on Telegram
TELEGRAM_BOT_TOKEN=8339328692:AAEogKjM45ByuHLppg2VjUz65ceGFu38Kjg