# Dependencies
node_modules/

.DS_Store

# Coverage
coverage/

# Swagger
openapi.json

# Build output
dist/

# Uploads - Ignora completamente la cartella uploads (le foto seed sono in seed-data/)
uploads/

# Others
database-workflow-guide.md
dockerization.md
